#main-container{
    position: relative;
}

#image-area{
    position: absolute;
    z-index: 1;
}

#drawing-area{
    position: absolute;
    z-index: 2;
}

h1{
    text-align:center;
    font-family: 'Gloria Hallelujah';
    font-size:18px;
}
p{
    text-align:center;
    font-family: 'Gamja Flower';
    font-size: 40px;
}
.jumbotron{
    background: rgb(9, 110, 110);
    background: linear-gradient(rgb(9, 110, 110), silver);
    box-shadow: 10px 10px 5px grey;

}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOvnoanODkYlK75rpBcXOGPtCgG4bQmkEfDQBHssX95srCUoX7");
    background-size: cover;
}

button{
    font-family: 'Gloria Hallelujah';
}